body{
    padding-left:11em;
    background-color: #FFFFCC;
    font-family: arial, sans-serif;
    font-size: 14px;
}

h1,h2,h3{
    font-family: arial, sans-serif;
}

h1{
    font-size: 35px;
}

table, th, td{
    border: 1px solid black;
}